*{
  box-sizing: border-box;
}


body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */background-color: #393e46;
/* background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%); */


}

#container {
  width: 100vw;
  height: 100vh;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expanding-card{
  /* padding: 10px; */
  font-size:x-large;
  font-weight:700;
  font-size: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color:#eeeeee;
  background: #00adb5;
  border-radius: 10px;
  text-shadow:10px #393e46;
  width: 100%;
  height: 150px;
  text-align: center;
}
.images{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img {
  width: 100vw;
  height: 80vh;
  margin: 5px;
  border-radius: 10px;
  flex: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: flex 0.8s ease;
}

.active {
  flex: 4;
}
